# -*- mode: gitignore; -*-
/backups/
/elpa/
/ido.last
/auto-save-list/
session.*
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*
history
bookmarks
diary


# Ebdb
*ebdb*

# Private stuff
site-lisp.d/private.el

# Elpher is pulled in via git
site-lisp.d/elpher/

# Org-mode
.org-id-locations
*_archive

# flymake-mode
*_flymake.*

# eshell files
/eshell/history
/eshell/lastdir

# elpa packages
/elpa/

# reftex files
*.rel

# AUCTeX auto folder
/auto/

# cask packages
.cask/

.directory
/places
/emms/
/notes
/url/
/image-dired/
/smex-items
/amex-items
/recentf
games
/projectile-bookmarks.eld
var/*
!var/abbrevs.el
newsticker/*
/async-bytecomp.log
etc/*
!etc/yasnippet

# Don't sync my todo list via git
/todo/**